.footer{
    width: 100%;
    height: 60px;
    background: #39004d;
    font-size: 18px;;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

.footer p{
    color: #633674;
}